services:
  nextjs:
    build:
      context: .
      dockerfile: dockerfile
    container_name: records_dapp_frontend
    restart: always
    env_file: 
      - .env
    ports:
      - "3000:3000"
    networks:
      - infra-net

networks:
  infra-net:
    external: true
