.clippboard-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.transaction-hash {
  border: 1px solid #707070;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #C4C4C4;
}

.transaction-hash:hover{
  text-decoration: underline;
}