.container {
  /* background-color: #ffffff; */
  border-radius: 4px;
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); */
  padding: 1.5rem;
  border: 1px solid #e2e8f0;
}

.title {
  font-size: 1.125rem;
  color: #0f172a;
  margin-bottom: 1rem;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.studentInfo {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: #f8fafc;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .studentInfo {
    grid-template-columns: repeat(2, 1fr);
  }
}

.label {
  font-size: 0.75rem;
  color: #475569;
  margin-bottom: 0.25rem;
}

.value {
  font-size: 0.875rem;
  color: #0f172a;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  background-color: #f8fafc;
}

.th {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  color: #475569;
  text-transform: uppercase;
  text-align: left;
}

.thCenter {
  text-align: center;
}

.tbody tr {
  border-top: 1px solid #e2e8f0;
}

.row:hover {
  background-color: #f8fafc;
}

.td {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: #0f172a;
}

.tdCenter {
  text-align: center;
}

.status {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.aproved {
  color: #166534;
}

.reproved {
  color: #dc2626;
}

.semesterRow {
  background-color: #E0E0E0;
  opacity: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
}